@use '../variables';

.board {
    border: 1px solid variables.$dark-cell-color;
    display: flex;
    flex-direction: column;
}

.boardRow {
    display: flex;
    flex-direction: row;
}

.boardCell {
    border: 1px solid variables.$dark-cell-color;
    background-color: variables.$light-cell-color;
    height: variables.$cell-size;
    width: variables.$cell-size;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boardRow:nth-child(odd) .boardCell:nth-child(even), .boardRow:nth-child(even) .boardCell:nth-child(odd) {
    background-color: variables.$dark-cell-color;
}