// Color variables

$background-color: #f0f0f0;
$dark-cell-color: #b8c0c8;
$light-cell-color: #fdfeff;
$selected-color: #ff7060;

// Size variables

$cell-size: 90px;
$large-game-piece-size: 52px;
$small-game-piece-size: 32px;
$selectable-piece-gap: 10px;